doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/styles.css')
  body
    block content
    nav#nav
        a(class='navLogo', href='/index')
            img#logo(src='images/logo_01.png')
            
    div#container
        div.panel#aboutme
            h3 Aaron Roles
            div.description 
                | Third Year Creative Multimedia <br> Server Side Programming - Portfolio App 
                | <br><br><b> 
                | Tel: 0876611616 
                | <br> 
                | Email: aaron_roles93@hotmail.com