doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/styles.css')
  body
    block content
    nav#nav
        a(class='navLogo', href='/index')
            img#logo(src='images/logo_01.png')