doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/styles.css')
  body
    block content
    nav#nav
        a(class='navLogo', href='/index')
            img#logo(src='images/logo_01.png')
        
    div#container
        div.panel#aboutme
            h3 Aaron Roles
            div.description 
                | Third Year Creative Multimedia <br> Server Side Programming - Portfolio App 
                | <br><br><b> 
                | Tel: 0876611616 
                | <br> 
                | Email: aaron_roles93@hotmail.com
                | <br><br></b> 
                h5 Upload
                form(name="Upload File", action="/upload", method="post", id="uploadForm")
                    label(for="user") Username &nbsp;
                    input(type="text", name="user", placeholder="Username...", class="loginPage")
                    br 
                    label(for="pass") Password &nbsp;
                    input(type="password", name="pass", placeholder="Password...", class="loginPage")
                    br
                    label(for="category") Choose Category &nbsp;
                    select(name="category" required) 
                        option(value="flash") Flash
                        option(value="audio") Audio
                        option(value="video") Video
                        option(value="image") Image
        a(href='/flash')
            div.panel#prog 
                h3.module Flash
                
        a(href='/audio')
            div.panel#av 
                h3.module Audio
                
        a(href='/videos')
            div.panel#anim 
                h3.module Videos
                
        a(href='/images')
            div.panel#viscom 
                h3.module Images