doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/styles.css')
  body
    block content
    nav#nav
        a(class='navLogo', href='/index')
            img#logo(src='images/logo_01.png')
        
    div#container
        div.panel#aboutme
            h3 Aaron Roles
            div.description Third Year Creative Multimedia<br><br> Server Side Programming - Portfolio App <b><br><br> Tel: 0876611616 <br> Email: aaron_roles93@hotmail.com<b>
                
        a(href='/flash')
            div.panel#prog 
                h3.module Flash
                
        a(href='/audio')
            div.panel#av 
                h3.module Audio
                
        a(href='/videos')
            div.panel#anim 
                h3.module Videos
                
        a(href='/images')
            div.panel#viscom 
                h3.module Images