@charset "utf-8";
/* CSS Document */

#uploadForm
{
	text-align: center;
	width: 100%;
}

select, input
{
	margin-bottom: 1%;
	width: 33%;
}

/* */

@font-face
{
	font-family: DroidSans;
	src:url(/fonts/DroidSans.ttf)	
}

body
{
	background-color: #000;
	color: #000;	
	font-family: DroidSans;
	width: 100%;
	height: 100%;
	margin:0;
}

#logo
{	
	width: 10vw;
}

#contactInfo
{
	margin: 0;
	border:0;
	color: #fff;
}

ul
{
	list-style: none;
}

a:link, a:visited
{
	text-decoration: none;
	color: #000;
}

a
{
	font-size: 1.1vw;
}

h3
{
	font-size: 2.8vw;
	margin-bottom: 3%;
}

#nav
{
	width:100%;
	background-color: #FFFFFF;
	margin: 0;
}

.navItem, .navLogo
{
	font-size: 2vw;
	padding: 0;
	padding-right: 1%;
	padding-left: 1%;
	margin-left: 5%;
}

.navItem:hover
{
	color: #fff;
	background-color: #000;
	cursor:pointer;
}

#container
{
	margin-left: 6%;
}

.description
{
	margin: 1%;
	margin-top: 8%;	
	padding: 1%;
	font-size: 1.2vw;
}

.panel
{
	width: 29%;
	margin-left: 1%;
	margin-top: 4%;
	height: 224px;
	display: block;	
	float: left;
	text-align:center;
	background-color: #FFF;
}

#aboutme
{
	color: #000;
	background-color: #fff; 
	height: 500px;
}

#flash
{
	color:#000;
}

#audio
{
	color:#000;
}

#videos
{
	color:#000;
}

#images
{
	color:#000;	
}

#flash:hover, #videos:hover, #audio:hover, #images:hover
{
	background-color: grey;
}

.module
{
	margin-top: 25%;
}

/* Module Pages */

.moduleTitle
{
	color: #fff;
	margin-top: 3%;
	font-size: 3vw;	
	margin-bottom: 0;
}

.thumbs
{
	width: 90%;	
	height: 190px;
}

.work
{
	width: 40%;
	height: 210px;
	padding-left: 1%;
	padding-top: 1%;
	float: left;	
	margin-left: 4%;
	margin-top: 2%;
	margin-bottom: 1%;
}

.work:hover
{
	background-color:#818181;	
}

.workDesc
{
	color: #fff;
	width: 50%;
	margin-left:50%;
	margin-top: -40%;
}

.workThumbnail
{
	width: 50%;
}